<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/A.jpeg') }}" type="image/jpeg">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <title>Pedra, Papel e Tesoura - 2 Jogadores</title>
</head>
<body>
    <h1>Pedra, Papel e Tesoura - 2 Jogadores</h1>

    <div class="placar">
        <p>🏆 Placar</p>
        <p>Jogador 1: {{ placar1 }} | Jogador 2: {{ placar2 }}</p>
    </div>

    <div>
        <h2>Jogador 1, escolha:</h2>
        <form method="post">
            <button type="submit" name="jogador1_escolha" value="pedra">🌑 Pedra</button>
            <button type="submit" name="jogador1_escolha" value="papel">📄 Papel</button>
            <button type="submit" name="jogador1_escolha" value="tesoura">✂️ Tesoura</button>
        </form>
        
    </div>

    <div>
        <h2>Jogador 2, escolha:</h2>
        <form method="post">
            <button type="submit" name="jogador2_escolha" value="pedra">🌑 Pedra</button>
            <button type="submit" name="jogador2_escolha" value="papel">📄 Papel</button>
            <button type="submit" name="jogador2_escolha" value="tesoura">✂️ Tesoura</button>
        </form>
        
    </div>

    {% if jogador1_escolha and jogador2_escolha %}
        <form method="post">
            <button type="submit" name="ver_resultado">✅ Ver Resultado</button>
        </form>
    {% endif %}
    {% if res %}
        <p>Jogador 1 escolheu: <strong>{{ jogador1_escolha }}</strong></p>
        <p>Jogador 2 escolheu: <strong>{{ jogador2_escolha }}</strong></p>
        <h1>{{ res }}</h1>
    {% endif %}

    <form method="post">
        <button type="submit" name="reset">🔄 Resetar Placar</button>
    </form>
</body>
</html>
